{% extends "layout.html" %}

{% block title %}
History {{title}}
{% endblock %}

{% block main %}
<h1>History {{title}}</h1>
<table class="table table-striped">
    <th>
        <td>
            ID
        </td>
    <td>
        Date
    </td>

    <td>
        Symbol
    </td>

    <td>
        Company Name
    </td>
    <td>
        Price
    </td>

    <td>
        Purchase amount
    </td>
    <td>
        Shares
    </td>
    <td>Operation</td>

    </th>


    {% for i in range(len_ls) %}
    <tr>
        <td>
            {{i + 1}}
        </td>
        <td>
            {{ind_ls[i]['id']}}
        </td>
        <td>
            {{ind_ls[i]['date']}}
        </td>
        <td>
            {{ind_ls[i]['symbol']}}
        </td>
        <td>
            {{ind_ls[i]['company']}}
        </td>
        <td>
            {{ind_ls[i]['price']}}
        </td>

        <td>
            {{ind_ls[i]['amount']}}
        </td>
        <td>
            {{ind_ls[i]['number']}}
        </td>
        <td>
            {{ind_ls[i]['operation']}}
        </td>
    </tr>
    {% endfor %}

</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{% endblock %}