{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}
    
    <table class="table table-striped">
        <th>
            <td>
                Symbol
            </td>
            <td>
                Company Name
            </td>
            <td>
                Price
            </td>
            
        </th>
        <tr>
            <td>
                INFO
            </td>
            <td>
                {{ls['symbol']}}
            </td>
            <td>
                {{ls['name']}}
            </td>
            <td>
                {{ls['price']}}
            </td>
        </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}
